<script>
    // Size and margins
    const width = 500;
    const height = 600;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    
    // Imports
    import { scaleLinear } from "d3-scale";
    import { select } from "d3-selection";
    import { axisBottom, axisRight, axisLeft} from "d3-axis";
    
    // Basic variables
    export let my_data = null;
    export let my_week = 0;
    export let isright = true;
    let x_init = innerWidth/2;
    let y_init = innerHeight/3 + (-my_week+52)*75;
    let x_manager = 170;
    let y_manager = 50;

    // Scale
    let max_energy = 1500;
    let max_gas = 5000;
    let eScale = scaleLinear().domain([0,max_energy]).range([0,-y_manager]);
    let gScale = scaleLinear().domain([0,max_gas]).range([0,y_manager]);
    let xScale = 0; 
    let yScale = 0;

    // Detect data
    let ready = false;
    function set_data (data){
        if (data != null){
            ready = true;
        }
    }

    // Path generator and scale setting
    function path_gen(my_array, label, extra_x, extra_y, inverse){
        let path = "M "
        if (!(inverse)){
            xScale = scaleLinear().domain([0,24*7-1]).range([0,x_manager])
        } else {
            xScale = scaleLinear().domain([0,24*7-1]).range([0,-x_manager])
        }
        if (label==="total_elec"){
            yScale = scaleLinear().domain([0,max_energy]).range([0,-y_manager])
        } else {
            yScale = scaleLinear().domain([0,max_gas]).range([0,y_manager])
        }
        let my_hour = 0
        let x = xScale(my_hour) + extra_x
        let energy = 0
        let y = yScale(energy) + extra_y
        path = path.concat(x, ",", y, " ")
        for (let i = 0; i < my_array.length; i++){
                my_hour = my_array[i]["hour"] + (my_array[i]["day"]-1)*24 - (my_week-48)*7*24
                x = xScale(my_hour) + extra_x
                energy = my_array[i][label]
                y = yScale(energy) + extra_y
                path = path.concat(x, ",", y, " ")
        }
        x = xScale(my_hour) + extra_x
        y = yScale(0) + extra_y
        path = path.concat(x, ",", y, " ")
        path += "Z" 
        return path
    }



    // Axis
    const hAxis = (node) => axisBottom(xScale)
        .tickValues([0, 24, 24*2, 24*3, 24*4, 24*5, 24*6, 24*7])
        .tickFormat(x => `${x/24}`)
        (select(node));

    const eAxis = (node) => axisRight(eScale)
        .tickValues([500, 1000, 1500])
        .tickFormat(x => `${x/1000}`)
        (select(node));
    
    const gAxis = (node) => axisRight(gScale)
        .ticks(3)
        .tickFormat(x => `${x/1000}`)
        (select(node));

    const ieAxis = (node) => axisLeft(eScale)
        .tickValues([500, 1000, 1500])
        .tickFormat(x => `${x/1000}`)
        (select(node));
    
    const igAxis = (node) => axisLeft(gScale)
        .ticks(3)
        .tickFormat(x => `${x/1000}`)
        (select(node));

    $: set_data(my_data)

</script>

{#if (ready)}
<svg {width} {height}>
    {#if (isright)}
        <g transform="rotate(-15 {x_init} {y_init})">
        <line class="b-line" x1={x_init} y1={y_init} x2={x_init+30} y2={y_init}/>
        <path class="elec" d={path_gen(my_data, "total_elec", x_init+30, y_init, false)} />
        <g use:eAxis transform="translate({x_init+x_manager+35} {y_init})"/>
        <!-- <text class="axislabel" transform="translate({x_init+13} {y_init+10})">
            Electricity</text> -->
        <path class="gas" d={path_gen(my_data, "total_gas", x_init+30, y_init, false)} />
        <g use:hAxis transform="translate({x_init+30} {y_init})"/>
        <g use:gAxis transform="translate({x_init+x_manager+35} {y_init})"/>
        <text class="axislabel" transform="translate({x_init+13} {y_init+10})">
            Days</text>
        <text class="title" x={x_init-x_manager/2-30} y={y_manager-100} transform="translate({x_init} {y_init})">
            Week {my_week}</text>
        </g>
    {:else}
        <g transform="rotate(15 {x_init} {y_init})">
        <line class="b-line" x1={x_init} y1={y_init} x2={x_init-30} y2={y_init}/>
        <path class="elec" d={path_gen(my_data, "total_elec", x_init-30, y_init, true)} />
        <g use:ieAxis transform="translate({x_init-x_manager-35} {y_init})"/>
        <path class="gas" d={path_gen(my_data, "total_gas", x_init-30, y_init, true)} />
        <g use:hAxis transform="translate({x_init-30} {y_init})"/>
        <g use:igAxis transform="translate({x_init-x_manager-35} {y_init})"/>
        <text class="axislabel" transform="translate({x_init-13} {y_init+10})">
            Days</text>
        <text class="title" x={x_init-x_manager/2-65} y={y_manager-100} transform="translate({x_init-x_manager-35} {y_init})">
             Week {my_week}</text>
        </g>
    {/if}
</svg>
{/if}

<style>
    .b-line{
        stroke:black;
        stroke-width:1;
    }

    .elec{
        stroke:none;
        fill:blue;
        fill-opacity: 0.5;
    }

    .gas{
        stroke:none;
        fill:darkgoldenrod;
        fill-opacity: 0.5;
    }

    .title{
        font-size: 1em;
        text-anchor: middle;
        fill: black;

    }

    .axislabel{
    font-size: 0.5em;
    text-anchor: middle;
    fill: black;
    }
</style>