<script>
    // Size and margins
    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    
    // Imports
    import {scaleRadial } from "d3-scale";

    // Basic variables
    export let my_data = null;
    export let c_x = 0;
    export let c_y = 0;
    export let city = 0;
    let axisMonths = [["December",0], ["March",1], ["June",2], ["September",3]];
    let r_graph = 55;

    // Radial scale
    let max_energy = 110000;
    let rScale = scaleRadial().domain([0, max_energy]).range([0,r_graph]);

    // Angular scale (angle for each month)
    function month_to_radian(n_month){
        let montorad = ((+n_month)/12.*2.*Math.PI)-(Math.PI/2.);
        return montorad
    }

    // Detect data
    let ready = false;
    function set_data (data){
        if (data != null){
            ready = true;
        }
    }

    // Create array for data loop
    let lendict = 0;
    function arra_creator(dictionary){
        let my_array = [];
        for (let i = 0; i < Object.keys(dictionary).length; i++){
            my_array.push(i)
        }
        return  my_array
    }

    // Path generator
    function path_gen(dictionary, cx, cy, cooling=true){
        let path = "M "
        for (let i = 0; i < Object.keys(dictionary).length; i++){
            if (cooling) {
                let x = Math.round(cx + rScale(dictionary[+i+1]["cooling"])*Math.cos(month_to_radian(+i+1)))
                let y = Math.round(cy + rScale(dictionary[+i+1]['cooling'])*Math.sin(month_to_radian(+i+1)))
                path = path.concat(x, ",", y, " ")
            }
            else{
                let x = Math.round(cx + rScale(dictionary[+i+1]["heating"])*Math.cos(month_to_radian(+i+1)))
                let y = Math.round(cy + rScale(dictionary[+i+1]['heating'])*Math.sin(month_to_radian(+i+1)))
                path = path.concat(x, ",", y, " ")
            }
        }
        path += "Z" 
        return path
    }

    // Axis label generator
    function month_pos_labels (nmoncq, cx, cy){
        let x = 0;
        let y = 0;
        if (nmoncq[1]===1){
            x = cx + (r_graph+22)*Math.cos(nmoncq[1]*Math.PI/2-(Math.PI/2.))
            y = cy - 5
        }
        else if(nmoncq[1]===3){
            x = cx + (r_graph+11)*Math.cos(nmoncq[1]*Math.PI/2-(Math.PI/2.))
            y = cy + 13
        }
        else if(nmoncq[1]===0){
            x = cx + r_graph*Math.cos(nmoncq[1]*Math.PI/2-(Math.PI/2.))
            y = cy + (r_graph+14)*Math.sin(nmoncq[1]*Math.PI/2-(Math.PI/2.))
        }
        else {
            x = cx + r_graph*Math.cos(nmoncq[1]*Math.PI/2-(Math.PI/2.))
            y = cy + (r_graph+22)*Math.sin(nmoncq[1]*Math.PI/2-(Math.PI/2.))
        }
        return [x,y]
    }


    // Change values
    $: set_data(my_data)
    $: lendict = arra_creator(my_data)
</script>

{#if (ready)}
<svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
        <circle class="climit" cx={c_x} cy={c_y} r={r_graph}/>
        <circle class="climit" cx={c_x} cy={c_y} r={rScale(40000)} style="stroke-width:2;stroke-opacity:0.5;"/>
        <line class="maxis" x1={c_x+r_graph+10} y1={c_y} x2={c_x-r_graph-10} y2={c_y} />
        <line class="maxis" x1={c_x} y1={c_y+r_graph+10} x2={c_x} y2={c_y-r_graph-10} />
        <path class="p_cool" d={path_gen(my_data,c_x,c_y,true)}/>
        <path class="p_heat" d={path_gen(my_data,c_x,c_y,false)}/>
        {#each lendict as i}
        <circle cx={c_x+rScale((my_data[+i+1])['cooling'])*Math.cos(month_to_radian(+i+1))} cy={c_y+rScale((my_data[+i+1])['cooling'])*Math.sin(month_to_radian(+i+1))} r=2 fill="blue" />
        <circle cx={c_x+rScale((my_data[+i+1])['heating'])*Math.cos(month_to_radian(+i+1))} cy={c_y+rScale((my_data[+i+1])['heating'])*Math.sin(month_to_radian(+i+1))} r=2 fill="red" /> 
        {/each}
        {#each axisMonths as am}
        <rect x={month_pos_labels(am, c_x, c_y)[0]} y={month_pos_labels(am, c_x, c_y)[1]-10} width={2*am[0].length} height="15" style="fill:white"/>
        <text class="maxis-label" x={month_pos_labels(am, c_x, c_y)[0]} y={month_pos_labels(am, c_x, c_y)[1]}>
        {am[0]}
        </text>
        {/each}
        <rect x={c_x-10} y={c_y+35} width="20" height="11" style="fill:white"/>
        <text class="maxis-label" x={c_x} y={c_y+45}>40000</text>
    </g>
    <!-- <g use:mAxis transform="translate({margin.left}, {margin.top})"></g> -->
    <text class="title" x={c_x+10} y={c_y-85}>
        {city}
    </text>
</svg>
{/if}


<style>
    .climit{
    stroke: black;
    stroke-width: 4;
    fill: white;
  }

  .title{
    font-size: 1.75em;
    text-anchor: middle;
    fill: black;
  }
  
  .p_cool{
      stroke:none;
      fill:blue;
      fill-opacity: 0.3;
  }

  .p_heat{
      stroke:none;
      fill:red;
      fill-opacity: 0.3;
  }

  .maxis{
      stroke:black;
      stroke-width: 1;
  }

  .maxis-label{
    font-size: 0.75em;
    text-anchor: middle;
    fill: black;
  }

</style>