<script>
    // Size and margins
    const width = 600;
    const height = 300;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
  
    // Edit by me
    // Imports
    import { axisTop } from "d3-axis";
    import { select } from "d3-selection";
    import { schemeCategory10 } from "d3-scale-chromatic";
    import { scaleLinear, scaleOrdinal } from "d3-scale";

    // Basic variables
    export let data = null;
    let buildingtype = ["FullServiceRestaurant", "PrimarySchool", "LargeHotel",
    "LargeOffice", "MediumOffice", "Stand-aloneRetail", "OutPatient", 
    "SuperMarket", "QuickServiceRestaurant", "SecondarySchool",
    "SmallHotel", "SmallOffice", "MidriseApartment", "StripMall", 
    "Hospital", "Warehouse"]

    // Controling variables
    let x_init= 95;
    let y_init= 110;
    let x_manager = 180;
    let y_manager = 22;
    let max_energy = 600;
    let line_maxthick = 7; //px

    // Scales
    const xScale = scaleLinear().domain([0,31*24]).range([0,x_manager-5]);
    const bscale = scaleOrdinal(schemeCategory10).domain(buildingtype);

    // Create array for data loop
    let lendict = 0;
    function array_creator(dictionary){
        let my_array = [];
        for (let i = 0; i < Object.keys(dictionary).length; i++){
            my_array.push(i)
        }
        return  my_array
    }

    // Path generator
    function path_gen(my_array, extra_x, extra_y){
        let path1 = "M "
        let path2 = "M "
        let yScale1 = scaleLinear().domain([0,max_energy]).range([0,line_maxthick/2])
        let yScale2 = scaleLinear().domain([0,max_energy]).range([0,-line_maxthick/2])
        let my_hour = 0
        let x = xScale(my_hour) + extra_x
        let energy = 0 /2
        let y = yScale1(energy) + extra_y
        path1 = path1.concat(x, ",", y, " ")
        y = yScale2(energy) + extra_y
        path2 = path2.concat(x, ",", y, " ")
        for (let i = 0; i < my_array.length; i++){
            my_hour = my_array[i]["hour"] + (my_array[i]["day"]-1)*24
            x = xScale(my_hour) + extra_x
            energy = my_array[i]["total_heating_energy"]/2
            y = yScale1(energy) + extra_y
            path1 = path1.concat(x, ",", y, " ")
            y = yScale2(energy) + extra_y
            path2 = path2.concat(x, ",", y, " ")
        }
        my_hour = my_array[my_array.length-1]["hour"] + (my_array[my_array.length-1]["day"]-1)*24
        x = xScale(my_hour) + extra_x
        energy = 0 /2
        y = yScale1(energy) + extra_y
        path1 = path1.concat(x, ",", y, " ")
        y = yScale2(energy) + extra_y
        path2 = path2.concat(x, ",", y, " ")
        path1 += "Z" 
        path2 += "Z" 
        return [path1, path2]
    }
    
    const hAxis = (node) => axisTop(xScale)
        .tickValues([0, 24*7, 24*14, 24*21, 24*28, 24*31])
        .tickFormat(x => `${x/24}`)
        (select(node));

    $: lendict = array_creator(data)
</script>

<svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
        <g use:hAxis transform="translate({x_init} {y_init-10})"/>
        <g use:hAxis transform="translate({x_init+x_manager+10} {y_init-10})"/>
        <text class="blabel" x={x_init+2*x_manager+40} y={y_init-20} style="fill:black"> Days </text>
        {#each lendict as i}
            {#if i<8}
            <line x1={x_init} y1={y_init+i*y_manager} x2={x_init+x_manager-5} y2={y_init+i*y_manager} style="stroke:{bscale(buildingtype[i])};stroke-width:2;"/>
            <path class="figure" d={path_gen(data[buildingtype[i]],x_init,y_init+i*y_manager)[0]} style="fill:{bscale(buildingtype[i])}"/>
            <path class="figure" d={path_gen(data[buildingtype[i]],x_init,y_init+i*y_manager)[1]} style="fill:{bscale(buildingtype[i])}"/>
            <text class="blabel" x={x_init-5} y={y_init+3+i*y_manager} style="fill:{bscale(buildingtype[i])};">{buildingtype[i]}</text>
            {:else}
            <line x1={x_init+x_manager+10} y1={y_init+(i-8)*y_manager} x2={x_init+2*x_manager+5} y2={y_init+(i-8)*y_manager} style="stroke:{bscale(buildingtype[i])};stroke-width:2;"/>
            <path class="figure" d={path_gen(data[buildingtype[i]],x_init+x_manager+5,y_init+(i-8)*y_manager)[0]} style="fill:{bscale(buildingtype[i])}"/>
            <path class="figure" d={path_gen(data[buildingtype[i]],x_init+x_manager+5,y_init+(i-8)*y_manager)[1]} style="fill:{bscale(buildingtype[i])}"/>
            <text class="iblabel" x={x_init+2*x_manager+10} y={y_init+3+(i-8)*y_manager} style="fill:{bscale(buildingtype[i])};">{buildingtype[i]}</text>
            {/if}
        {/each}
        <text class="title" x={innerWidth/2} y={10}>Energy use by heating, December</text>
    </g>
</svg>

<style>
    .blabel{
        font-family: Arial;
        font-size: 7pt;
        text-anchor: end;
    }

    .iblabel{
        font-family: Arial;
        font-size: 7pt;
        text-anchor: start;
    }

    .figure{
      stroke:none;
      fill-opacity: 0.9;
    }

    .title{
        font-family: Arial;
        font-size: 14pt;
        text-anchor: middle;
    }
</style>