<script>
  // Size and margins
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Edit by me
  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Plot from "./_design_1_plot.svelte";

  // Basic variables
  let my_data = null;
  let new_data = {};
  let selected_city = "Baltimore";
  let to_load = 0;


  // Load the data
  onMount(async () => {
    my_data = await json("/data/hourly_heating_december.json");
  });

  // How the data should look like
  //{city: {building1:{{day:n, hour:n, energy:n},..}},
  //       {building2:{{day:n, hour:n, energy:n},..}},
  //       ...}
  // Transform data
  function reorg_data(data) {
    if (data!=null) {
      my_data.forEach((d) => {
        if (!(d.city in new_data)) {
          new_data[d.city] = {}
        }
        if (!(d.buildingtype in new_data[d.city])) {
          new_data[d.city][d.buildingtype] = []      //Maybe append to a dictionary later
        }
        to_load = {"day": d.day, "hour":d.hour, "total_heating_energy":d.total_heating_energy}
        new_data[d.city][d.buildingtype].push(to_load)
      })
    }
  }


  $: reorg_data(my_data)

</script>


{#if !my_data}
<p> Loading the data ...</p>
{:else}
<div>
  <!-- <Controls bind:selected_city={selected_city}/> -->
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <Plot data={new_data[selected_city]}/>
    </g>
  </svg>
  <div class="form-check">
    <input class="form-check-input" on:change={() => (selected_city = "Baltimore")} type="radio" name="cities"
    id="inlineRadio1" value={"Baltimore"}  checked>
    <label class="form-check-label" for="inlineRadio1"> 
      Baltimore </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" on:change={() => (selected_city = "Chicago")} type="radio" name="cities"
      id="inlineRadio2" value={"Chicago"}>
      <label class="form-check-label" for="inlineRadio2"> 
        Chicago </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" on:change={() => (selected_city = "Los Angeles")} type="radio" name="cities"
      id="inlineRadio2" value={"Los Angeles"}>
      <label class="form-check-label" for="inlineRadio2"> 
        Los Angeles </label>
    </div>
</div>


{/if}



<style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }

    .repos {
      position: relative;
        right: 500px;
        bottom: 90px
    }
</style>
