<script>
  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Edit by me
  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Plot from "./_design_3_leaf.svelte";

  // Basic variables
  let my_data = null;
  let new_data = {};
  let city = "Chicago";

  // Load the data
  onMount(async () => {
    my_data = await json("/data/hourly_electricity_vs_gas_december.json");
  });

  // If months behave as hours, I neead the average of a month
  // Transform data
  function reorg_data(data) {
    let to_load = 0;
    if (data!=null) {
      my_data.forEach((d) => {
        if (!(d.week in new_data)) {
          new_data[d.week] = []
        }
      to_load={"day":d.day,"hour":d.hour,"total_elec":d.total_electrity,"total_gas":d.total_gas}
      new_data[d.week].push(to_load)
      })
    }
  }

  $: reorg_data(my_data)
  //$: console.log(new_data)

</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <line x1={(innerWidth)/2} y1={innerHeight-10} x2={(innerWidth)/2} y2={margin.top+80} style="stroke:black;stroke-width:3;" />
    {#each Object.entries(new_data) as elem_week}
      {#if (elem_week[0]%2===0)}
      <Plot my_data={elem_week[1]} my_week={elem_week[0]} isright={true}/>
      {:else}
      <Plot my_data={elem_week[1]} my_week={elem_week[0]} isright={false}/>
      {/if}
    {/each}
  </g>
  <text class="title" x={(innerWidth)/2} y={40}> Electricity and Gas  </text>
  <text class="title" x={(innerWidth)/2} y={70}> consumption in {city} </text>
  <rect x={innerWidth/2-140} y="527" width=15 height=15 style="fill:blue;fill-opacity:0.5;"/>
  <text x={innerWidth/2-120} y="540"> Total Electricity </text>
  <rect x={innerWidth/2-140} y="547" width=15 height=15 style="fill:darkgoldenrod;fill-opacity:0.5;"/>
  <text x={innerWidth/2-120} y="560"> Total Gas </text>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  .title{
    font-size: 1.75em;
    text-anchor: middle;
    fill: black;
  }
</style>
