<script>
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Edit by me
  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Plot from "./_design_2_plot.svelte";

  // Basic variables
  let my_data = null;
  let new_data = {};
  let cy_basic= innerHeight/2-5;

  // Load the data
  onMount(async () => {
    my_data = await json("/data/daily_heating_cooling.json");
  });

  // If months behave as hours, I neead the average of a month
  // Transform data
  function reorg_data(data) {
    if (data!=null) {
      let c_save = {}
      let h_save = {}
      let n_save = {}
      let to_save = 0
      my_data.forEach((d) => {
        if (!(d.city in new_data)) {
          new_data[d.city] = {}
        }
        if (!(d.month in new_data[d.city])) {
          new_data[d.city][d.month] = {}      //Maybe append to a dictionary later
        }

        //Get the average of each month per city
        if (!(d.city in c_save)){          
          c_save[d.city] ={}
          h_save[d.city] ={}
          n_save[d.city] ={}
        }
        if (!(d.month in c_save[d.city])){
          c_save[d.city][d.month] = +d.cooling
          h_save[d.city][d.month] = +d.heating
          n_save[d.city][d.month] = 1
        }
        else{
          c_save[d.city][d.month] += +d.cooling
          h_save[d.city][d.month] += +d.heating
          n_save[d.city][d.month] += 1
        }        
      })

      //Save the result
      for (const [key, value] of Object.entries(n_save)){
        for (const [key1, value1] of Object.entries(value)){
          to_save = {cooling: c_save[key][key1]/value1, heating: h_save[key][key1]/value1}
          new_data[key][key1] = to_save
      }}
    }
  }

  $: reorg_data(my_data)

</script>

{#if !my_data}
<p> Loading the data ...</p>

{:else}
<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
      <Plot my_data={new_data["Baltimore"]} city={"Baltimore"} c_x={innerWidth/3-105} c_y={cy_basic}/>
      <Plot my_data={new_data["Chicago"]} city={"Chicago"} c_x={2*innerWidth/3-105} c_y={cy_basic}/>
      <Plot my_data={new_data["Los Angeles"]} city={"Los Angeles"} c_x={3*innerWidth/3-105} c_y={cy_basic}/>
      <text class="maxis-label" x="170" y="215"> Energy type </text>
      <text class="maxis-label" x="170" y="229"> consumption </text>
  
      <rect x="240" y="210" width="15" height="15" style="fill:red;fill-opacity:0.3;stroke:red"/>
      <text class="maxis-label" x="290" y="222"> Heating</text>
  
      <rect x="340" y="210" width="15" height="15" style="fill:blue;fill-opacity:0.3;stroke:blue"/>
      <text class="maxis-label" x="390" y="222"> Cooling</text>
  </g>
</svg>

{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .maxis-label{
    font-size: 0.75em;
    text-anchor: middle;
    fill: black;
  }
</style>
