<script>
    const name = "Avelyn";
    const favlist = ["play videogames", "listen to music", "learning new things"];
</script>

<p>
    My name is {name} and these are some of my favorite things: {favlist}.
</p>