<script>
    let radius = 5
    const circle_circ = (r) => Math.round(2*r*Math.PI*100)/100
    let P = circle_circ(radius)  
</script>

<p>
    The circunference of a circle with radius {radius} m is {P} m
</p>
