<script>
  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];
  
  //
  let min_year = 0;
  let max_year = 214;
  let interv = null;

  //
  export let slider_value = 0;
  export let continent = 0;

  // Status
  let status="Start"

  function anime(){
    if (interv!=null){
      clearInterval(interv);
      status="Start";
      interv=null
    }
    else{
    status="Stop"
    interv = setInterval(() => {
      slider_value += 1;
      Reset()}, 50);
    }
  }

  function Reset(){
    if (slider_value == (max_year+1)){
      slider_value = 0
    }
  }

</script>


<div class="row">

  <div class="col">
    <button  on:click="{() => anime()}" type="botton" 
      class="btn btn-primary"> {status} </button>
    <button on:click="{() => {slider_value = min_year;}}" 
      type="button" class="btn btn-primary"> Reset </button>
  </div>

  <div class="col">
    <label for="slider-id" class="text-slider"> 
      Year: {slider_value+1800}</label>
    <input type="range" min={min_year} max={max_year} 
      bind:value={slider_value} 
      class="form-range" id="slider-id"/>
  </div>

  <div class="col">
    <select class="form-select"  bind:value={continent}>
      <option selected value={"all"}> all </option>
      {#each continents as cont}
      <option value={cont}>{cont}</option>
      {/each}
    </select>
  </div>

</div>

<style>
  .btn{
    width: 75px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  .form-range{
    width: 250px;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 15px;
  }

  .text-slider{
    margin-left: 5px;
  }

  .form-select{
    width: 130px;
    height: 35px;
    margin-bottom: 15px;
    margin-left: 10px;
  }

</style>
