<script>
  import { extent } from "d3-array";
  import { select } from "d3-selection";
  import { scaleLinear } from "d3-scale";
  import { axisBottom, axisLeft } from "d3-axis";
  import { brush } from "d3-brush";

  // Properties
  export let data = [];
  export let x = (d) => d.x;
  export let y = (d) => d.y;
  export let xLabel = "x";
  export let yLabel = "y";

  // Dimensions
  const width = 400;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 35, left: 45 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Scales
  const xScale = scaleLinear().domain(extent(data, x)).range([0, innerWidth]);
  const yScale = scaleLinear().domain(extent(data, y)).range([innerHeight, 0]);

  // Axes
  const xAxis = (node) => axisBottom(xScale)(select(node));
  const yAxis = (node) => axisLeft(yScale)(select(node));

  // Brushing
  // The range of the selection rectangle.
  // If there is no active selection, it contains: null,
  // otherwise, it contains: [ [x0, y0], [x1, y1] ]
  let range = null;
  // Component properties
  let select_both = [];
  for (let i = 0; i < data.length; i++){
    select_both.push(false)
  }

  // Get the positions of the circles
  let cxs=[];
  let cys=[];
  for (let i = 0; i < data.length; i++){
    cxs.push(xScale(x(data[i])))
    cys.push(yScale(y(data[i])))   // Already in the scale of the graph
  }
  let style_cond = Array(cxs.length).fill(["steelblue",0.5,1])

  let selected_rec = [[0,0],[width,height]];

  let Brush = (node) => select(node).call(brush() 
      .on("start brush end", updateChart));   //With start and brush please

  function updateChart({selection}) {
    selected_rec = selection;
    if (selected_rec == null){
      selected_rec = [[0,0],[width,height]];
    }
  }

  export let select_local = new Array(cxs.length).fill(true);
  export let select_global = new Array(cxs.length).fill(true);

  function check_range(selection_array){
    if (selection_array != null){
      for (let i = 0; i <= cxs.length; i++){
        if (cxs[i] + margin.left >= selected_rec[0][0] & cxs[i] + margin.left <= selected_rec[1][0] &
            cys[i] + margin.top  >= selected_rec[0][1] & cys[i] + margin.top  <= selected_rec[1][1]) 
        {
          select_local[i]=true;
        }
        else {
          select_local[i]=false;
        }
      }
    }
  }


  function give_colour(boolean_array, nada){
    
    if(boolean_array.length != 0){
      //console.log(boolean_array.length)
      style_cond = [];
      let count=0;
      for (let i = 0; i <= boolean_array.length; i++){
        if (boolean_array[i]==true){
          style_cond.push(["steelblue",0.5,1]);  //[fill/stroke,fill-opacity,stroke-opacity]
          count+=1;
        }
        else{
          style_cond.push(["darkgrey",0.3,0.5]);
        }
      }
    }
  }

  function change_style(style_id,style_cond,i){
      return style_cond[i][style_id];
  }

$: check_range(selected_rec);
$: give_colour(select_global,select_local);
//$: s

</script>

<svg viewBox="0 0 {width} {height}" class="mx-2" style="max-width: {width}px" use:Brush>
  
  <g transform="translate({margin.left},{margin.top})">
    <g>
      {#each data as d,i}
        <circle
          cx = {cxs[i]}
          cy = {cys[i]}
          r={3}
          fill={change_style(0,style_cond,i)}
          fill-opacity={change_style(1,style_cond,i)}
          stroke={change_style(0,style_cond,i)}
          stroke-width="1.5"
          stroke-opacity={change_style(2,style_cond,i)}
        />
      {/each}
    </g>
    <g use:xAxis transform="translate(0, {innerHeight})">
      <text class="axisLabel" x={innerWidth / 2} y={margin.bottom - 5}
        >{xLabel}</text
      >
    </g>
    <g use:yAxis>
      <text
        class="axisLabel"
        y={-margin.left + 10}
        x={-innerHeight / 2}
        transform="rotate(-90)">{yLabel}</text
      >
    </g>
  </g>
</svg>

<style>
  .axisLabel {
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }

</style>


