<script>
    let count = 0;
</script>


<button on:click="{() => count += 1}" type="botton" 
    class="btn btn-primary"> Clicked {count} times </button>
<button on:click="{() => count = 0}" type="button" 
    class="btn btn-danger"> Reset </button>
