<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";

  // Opacity
  let alpha = [
    0.3,
    0.3,
    0.3,
    0.3,
    0.3
  ];
  // Circle function
  let a
  // Check function
  let ind = 5
  function change_color_set(ind){
      alpha[ind]=1.0;
  };

  function sival(){
    a = setInterval(() => {
    ind -= 1
  }, 1000);
  };
  
  function stop_please(ind){ 
    if (ind < 0){
    color = 'green'
    clearInterval(a)
    }
   };

  // Time Interval
  $: change_color_set(ind);
  $: stop_please(ind);
  //clearInterval(myInterval)
  
    // Create check
  //$: alpha;

</script>


<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as point, i}
      <circle cx={ point } cy={ innerHeight/2 } r="10" 
      style="fill:{ color};opacity:{ alpha[i] };"></circle>
      <!-- start the SetInterval only when last circle was initiated -->
      {#if i!= 4} 
      null
      {:else}
      <g use:sival/>
      {/if}
    {/each}
  </g>
  

</svg>
