<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Controls variables
  let data_sl = []
  let slider_value = 0

  // Basic variables
  let data = null;
  let continent = "all"

  // Fuction to check the controls variables
   function update_data (slider_value,continent){
    if (data != null){
      data_sl = data[slider_value]['countries']
      if ( continent != "all"){
        data_sl = data_sl.filter(data_s => data_s.continent == continent);
      }
    }
  }

  // Load the data
  onMount(async () => {
    data = await json("/data/gapminder.json");
    update_data(slider_value,continent)
  });

  // Check 
  $: update_data(slider_value,continent) 

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={data_sl} />
    <!-- <Controls {data} /> -->
    <Controls bind:slider_value={slider_value} bind:continent={continent}/>
  </div>
{/if}
