<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import { brush } from "d3-brush";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

 let select_local1 = [];
 let select_local2 = [];
 let sel_global = [];
  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };

  // Brush selection
  
  function compare(select_local1,select_local2)
  {
    for (let i=0;i<sel_global.length;i++)
    {
      if (select_local1[i] && select_local2[i])
      {
        sel_global[i]=true;
      }
      else
      {
        sel_global[i]=false;
      }

    }
  }

  function glob(data) {
    if (data != null){
      sel_global = Array(data.length).fill(true);
    }  
  }


 $:glob(data)
 $:compare(select_local1,select_local2)

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter {data} {...s1} bind:select_local={select_local1} select_global={sel_global} />
  <Scatter {data} {...s2} bind:select_local={select_local2} select_global={sel_global} />
{/if}
