<script>

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  export let data_plot = Null;

  //Scales
  import { scaleLinear, scaleOrdinal, scaleLog} from 'd3-scale';
  import { schemeDark2 } from 'd3-scale-chromatic';
  import { max, group} from 'd3-array';
  //import { map } from 'd3-array';
  const xgdpscale = scaleLog()
    .domain([300,200000])
    .range([0,innerWidth]);
    
  const yexpecscale = scaleLinear()
    .domain([0,90])
    .range([innerHeight,0]);

  const poprscale = scaleLinear()
    .domain([0, max(data_plot, x => x.population)])
    .range([5,10]);
  
  const cdomain = Array.from(group(data_plot,x => x.continent), ([key,values])=>(key));
  const contscale = scaleOrdinal()
    .domain(cdomain)
    .range(schemeDark2);

  //Axis
  import{ axisLeft, axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  
  function yAxis(node, transf){
    const scale = scaleLinear()
    .domain([0,90])
    .range([innerHeight,0]);
    select(node).attr("transform", transf).call(axisLeft(scale));
  }

  function xAxis(node, transf){
    const scale = scaleLog()
    .domain([300,200000])
    .range([0,innerWidth]).base(20);
    select(node).attr("transform", transf)
    .call(axisBottom(scale).ticks(2,'$'));
  }


</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    {#each data_plot as count}
    {#if count.income === null | count.life_exp === null | count.population === null}
    null
    {:else}
    <circle cx={xgdpscale(+count.income)} cy={yexpecscale(+count.life_exp)} 
    r={poprscale(count.population)} fill={contscale(count.continent)} />
    {/if}
    {/each}
  </g>
  <g use:yAxis={`translate(${margin.left},${margin.top})`}></g>
  <text x=40 y=20 transform="rotate(-90 150,150)" style="font-size:20px"> Life Expectancy</text>
  <g use:xAxis={`translate(${margin.left},${height-margin.bottom})`}></g>
  <text x={innerWidth/2} y=385 style="font-size:20px"> GPD per capita </text>
  <text x={innerWidth/4} y=50 style="font-size:40px"> Gapminder Scatterplot </text>
  <text x={innerWidth-35} y=335 style="font-size:40px;opacity:0.5;"> 1800 </text>
</svg>

