<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  let sca;
  const values = [2, 4, 6, 7, 9];
  import { scaleLog } from 'd3-scale';
  const scale = scaleLog()
    .domain([1,10])
    .range([margin.left,width-margin.right]);
  import { select } from 'd3-selection';
  import { axisBottom } from 'd3-axis';
  
  export function xAxis(node, transf) { 
    console.log({transf});//Por alguna razón solo funciona si el primer argumento es el nodo, y se pone solo como g
    const x = scaleLog()    
      .domain([1,10])
      .range([margin.left,width-margin.right]);
    select(node).attr("transform", transf).call(axisBottom(x));
  };

  
</script>

<svg viewBox="0 0 {width} {height}" >
  <g transform="translate({margin.left},{margin.top})" >
    {#each values as val}
    <circle cx={scale(val)-5} cy={innerHeight / 2} r="10" fill="steelblue"  />
    {/each}
  </g>
  <g use:xAxis={"translate(0,75)"}></g>
  <text  x={ innerWidth/2 }  y={ height } style="font-size: 10px; fill:currentColor"> 
    x label </text>

</svg>
