<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  // Scales
 import { scaleLinear, scaleOrdinal } from 'd3-scale';
 import { schemeDark2 } from 'd3-scale-chromatic';
 import { extent } from 'd3-array';

 const xscale = scaleLinear()
    .domain([0,10])
    .range([0,innerWidth]);
 
  const yscale = scaleLinear()
    .domain([0,3])
    .range([innerHeight,0]);

  const objscale = scaleOrdinal()
    .domain(extent(values, d=>d.category))
    .range(schemeDark2);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as val}
    <circle cx={xscale(val.x)} cy={yscale(val.y)} r="5" fill={objscale(val.category)} />
    <line x1="{xscale(val.x)}" y1="{innerHeight}" x2="{xscale(val.x)}" y2="{yscale(val.y) + 5}" style="stroke:black;stroke-width:1"/>
    <text class='valueLabel' x={xscale(val.x)} y={yscale(val.y)-10}>{val.y}</text>
    {/each}
    <line x1="0" y1="{innerHeight}" x2="{innerWidth}" y2="{innerHeight}" style="stroke:black;stroke-width:1"/>
  </g>
  
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
