<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  // Scales
  import { scaleLinear, scaleBand } from 'd3-scale';
  //import { map } from 'd3-array';
  const xscale = scaleBand()
    .domain(data.map(x => x.service))
    .range([0,innerWidth])
    .padding(0.2);
    
  const yscale = scaleLinear()
    .domain([0,3])
    .range([innerHeight,0]);

  // Axis
  import{ axisLeft, axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  function yAxis(node, transf){
    const scale = scaleLinear()
    .domain([0,3])
    .range([innerHeight,0]);
    select(node).attr("transform", transf).call(axisLeft(scale));
  }
  
  function xAxis(node, transf){
    const scale = scaleBand()
    .domain(data.map(x => x.service))
    .range([0,innerWidth])
    .padding(0.2);
    select(node).attr("transform", transf).call(axisBottom(scale));
  }
  
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as point}
    <rect x={xscale(point.service)} y={yscale(point.viewers)} 
    width={xscale.bandwidth()} height={innerHeight - yscale(point.viewers)}
    style="fill:steelblue"/>
    {/each}
  </g>
  <g use:yAxis={`translate(${margin.left},${margin.top})`}></g>
  <text x={innerHeight/2} y={margin.bottom} transform="rotate(-90 150,150)" style="font-size:12px"> Viewers (Millions)</text>
  <g use:xAxis={`translate(${margin.left},${height-margin.bottom})`}></g>
</svg>
