<script>

    import { onMount } from "svelte";    
    import { json } from "d3-fetch"; 
    import Ex7 from './_ex_7_scatterplot.svelte'
    export let data_read = null;
    let promise = false    
    onMount(async ()  => {
    data_read = await json('/data/gapminder.json')
    promise = true
    //console.log(data_read[0].countries[0].country)
  })
    
</script>

{#if !promise}
<p>...waiting</p>
{:else if data_read}
<Ex7 data_plot = {data_read[0].countries}/>
{/if}
